<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" sizes="144x144" href="xxhdpi.png">
    <link rel="shortcut icon" sizes="192x192" href="xxxhdpi.png">
    <link rel="apple-touch-icon" href="Icon.png">
    <link rel="apple-touch-icon" sizes="76x76" href="Icon-76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="Icon-60@2x.png">
    <link rel="apple-touch-icon" sizes="152x152" href="Icon-76@2x.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/NYSLwebapp.css" type="text/css">
    <title> NYSL </title>
</head>

<body>
    <div id="main">
        <div class="navbar">
            <div class="top"><button class="backbutton btn btn-light" v-on:click="pageToggler('back')" v-if="visitedPages.length > 1">&lt;Back</button>
                <div class="logo"><img src="nysl_logo.png"></div>
            </div>
            <div class="mainbuttons"><button class="btn btn-light" v-on:click="pageToggler('teams', 'forward')" v-bind:class="{ succes: teamsButton}">Teams</button><button class="btn btn-light" v-on:click="pageToggler('locations', 'forward')" v-bind:class="{ succes: stadiumsButton}">Stadiums</button><button class="btn btn-light" v-on:click="pageToggler('games', 'forward')" v-bind:class="{ succes: gamesButton}">All Games</button></div>
        </div>
        <div class="infoAndScroller" v-if="showPage == 'games'">
            <div class="stadiuminfo" v-if="showPage == 'games'">
                <div class="leftside">

                    <p class="black">All NYSL Games</p>
                </div>
                <div class="rightside">
                <img src="nysl_logo.png">
                </div>
            </div>
            <div class="info">
                <div class="game" v-for="game in selectedData.games">
                    <div class="teams">
                        <button class="teambutton btn btn-light" v-on:click="pageToggler(game.team1, 'forward')">{{game.team1}}</button>
                        <p>VS.</p>
                        <button class="teambutton btn btn-light" v-on:click="pageToggler(game.team2, 'forward')">{{game.team2}}</button></div>
                    <div class="stadium">
                        <div class="date">
                           <p class="smallFont">Date:</p>
                            <p class="gameDate">{{game.date.slice(0,5)}}</p>
                        </div>
                        <button class="stadiumbutton btn btn-light" v-on:click="pageToggler(game.location, 'forward')"><p class="smallFont">Location:</p>{{game.location}}</button>
                        <div class="time">
                           <p class="smallFont">Time:</p>
                            <p class="gameDate">{{game.time}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="infoAndScroller" v-if="showPage == 'locations'">
            <div class="stadiuminfo" v-if="showPage == 'locations'">
                <div class="leftside">
                    <p class="black">All NYSL Stadiums</p>
                </div>
                <div class="rightside">
                <img src="nysl_logo.png">
                </div>
            </div>
            <div class="info">
                <div class="locations" v-for="location in locations"><button class="widebuttons stadiumbutton btn btn-light" v-on:click="pageToggler(location, 'forward')">
                {{location}}</button>
                </div>
            </div>
        </div>
        <div class="infoAndScroller" v-if="showPage == 'location'">
            <div class="stadiuminfo" v-if="showPage == 'location'">
                <div class="leftside">
                    <p class="stadiumBlack">Location: {{showLocation}}</p>
                    <div class="addressPortrait"> {{address}}</div>
                    <p class="stadiumBlack">Upcoming Games:</p>
                    </div>
                    <p class="addressLandscape">{{address}}</p>
                <div class="rightside">
                    <a :href="url"><img class="googlelogo" src="icons8-googlemaps-100.png"></a></div>
            </div>
            <div class="info">
                <div class="game" v-for="game in selectedData.games">
                    <div class="teams">
                        <button class="teambutton btn btn-light" v-on:click="pageToggler(game.team1, 'forward')">{{game.team1}}</button>
                        <p> VS.</p>
                        <button class="teambutton btn btn-light" v-on:click="pageToggler(game.team2, 'forward')">{{game.team2}}</button></div>
                    <div class="stadium">
                        <div class="date">
                           <p class="smallFont">Date:</p>
                            <p class="gameDate">{{game.date.slice(0,5)}}</p>
                        </div>
                        <div class="time">
                            <p class="smallFont">Time:</p>
                            <p class="gameDate">{{game.time}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="infoAndScroller" v-if="showPage == 'team'">
            <div class="stadiuminfo" v-if="showPage == 'team'">
                <div class="leftside">
                    <p class="black">{{showTeam}} Team Page</p>
                    <p class="black">Upcoming Games:</p>
                </div>
                <div class="rightside">
                    <button class="logoButton">{{showTeam}}</button>
                </div>
            </div>
            <div class="info">

                <div class="game" v-for="game in selectedData.games">
                    <div class="teams">
                        <button class="teambutton btn btn-light" v-on:click="pageToggler(game.team1, 'forward')">{{game.team1}}</button>
                        <p> VS.</p>
                        <button class="teambutton btn btn-light" v-on:click="pageToggler(game.team2, 'forward')">{{game.team2}}</button></div>
                    <div class="stadium">
                        <div class="date">
                             <p class="smallFont">Date:</p>
                            <p class="gameDate">{{game.date.slice(0,5)}}</p>
                        </div>
                        <button class="stadiumbutton btn btn-light" v-on:click="pageToggler(game.location, 'forward')"><p class="smallFont">Location:</p>{{game.location}}</button>
                        <div class="time">
                            <p class="smallFont">Time:</p>
                            <p class="gameDate">{{game.time}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="infoAndScroller" v-if="showPage == 'teams'">

            <div class="stadiuminfo" v-if="showPage == 'teams'">
                <div class="leftside">

                    <p class="black">All NYSL Teams</p>
                </div>
                <div class="rightside">
                <img src="nysl_logo.png">
                </div>
            </div>

            <div class="info">
                <div class="locations" v-for="team in teams"><button class="widebuttons stadiumbutton btn btn-light" v-on:click="pageToggler(team, 'forward')">
                {{team}}</button>
                </div>
            </div>

        </div>

        <div class="bottom"><button class="chatbutton btn btn-light">Chat</button></div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script src="https://www.gstatic.com/firebasejs/5.1.0/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyAkwg2vR6377GRjW646L5jhVDniM_Ix8NE",
            authDomain: "nysl-webapp-e0109.firebaseapp.com",
            databaseURL: "https://nysl-webapp-e0109.firebaseio.com",
            projectId: "nysl-webapp-e0109",
            storageBucket: "nysl-webapp-e0109.appspot.com",
            messagingSenderId: "532119046592"
        };
        firebase.initializeApp(config);

    </script>
    <script src="scripts/main.js"></script>
</body>

</html>
