html,
body {
    background-color: #569532;
    margin: 0;
    padding: 0;
}

.top {
    background-color: #569532;
    width: 100%;
    height: 50px
}

.mainbuttons {
    display: flex;
    justify-content: space-around;
    background-color: #569532;
    width: 100%;
    height: 50px;
}

.info {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: #569532;
    width: 100%;
    height: 400px;
/*
    top: 100px;
    bottom: 100px;
*/
/*    position: fixed;*/
}

.bottom {
    bottom: 0px;
    display: flex;
    justify-content: center;
    background-color: #569532;
    width: 100%;
}

#main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.teambutton {
    display: inline-block;
    margin: 2px;
    margin-bottom: 5px;
    width: 30%;
    border: 1px solid gray;
}

.stadiumbutton {
    display: inline-block;
    margin: 2px;
    margin-bottom: 5px;
    border: 1px solid gray;
    width: 33%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.teams {
    display: flex;
    justify-content: space-between
}

.stadium {
    display: flex;
    justify-content: center
}

.game {
    border-bottom: 1px solid black;

    background-color: white
}

.locations {
    background-color: white
}

.btn-light {
    margin-left: 6px;
    margin: 2px;
    margin-bottom: 6px;

}

.widebuttons {
    width: 99%;
    margin-right: 20px;
}

.stadiuminfo {
    display: flex;
    justify-content: center;
    background-color: #569532;
    width: 100%;

}

.time {
    width: 33%;
    text-align: center
}

.date {
    width: 33%;
    text-align: center
}
